header {
  padding: 0 15px;
  background-color: #ebebeb;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header > h5 {
    font-weight: bolder; }
  .add-merchant {
    color: #337ab7;
    cursor: pointer; }
    .add-merchant:hover {
      color: #155c99; }

.table tr {
  text-align: center;
  color: #000; }
  .table tr > td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px; }

.pagination-cp {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center; }

.table-operation .glyphicon,
.table-operation .fa {
  margin: 0 5px;
  cursor: pointer; }
  .table-operation .glyphicon:hover,
  .table-operation .fa:hover {
    color: #337ab7; }

.confirmModal .modal-body {
  padding: 15px; }

.edit-form {
  width: 100%;
  height: 100%; }
  .edit-form__headimg {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .edit-form__headimg_img {
      width: 85px;
      height: 85px;
      position: relative;
      margin-top: 15px;
      margin-bottom: 5px; }
      .edit-form__headimg_img > img {
        width: 100%;
        height: 100%;
        border-radius: 50%; }
      .edit-form__headimg_img > span {
        width: 20px;
        height: 20px;
        position: absolute;
        bottom: 5px;
        right: 5px; }
        .edit-form__headimg_img > span > i {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #337ab7;
          font-size: 20px; }
        .edit-form__headimg_img > span > input[type="file"] {
          widows: 0;
          height: 0;
          visibility: hidden; }
        .edit-form__headimg_img > span > label {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          cursor: pointer;
          margin: 0; }
    .edit-form__headimg_name {
      height: 28.18px;
      font-size: 20px;
      font-weight: bolder;
      color: #555; }
  .modal-body {
    padding: 0; }
  .edit-form__body {
    width: 100%; }
    .edit-form__body > .row {
      border-top: 1px solid #ddd;
      padding: 5px 0; }
      .edit-form__body > .row > div {
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center; }
        .edit-form__body > .row > div > input,
        .edit-form__body > .row > div select {
          width: 100%;
          height: 100%;
          text-align: center;
          transition: all 0.2s linear; }
          .edit-form__body > .row > div > input:focus,
          .edit-form__body > .row > div select:focus {
            background-color: rgba(51, 122, 183, 0.3);
            transition: all 0.2s linear; }
      .edit-form__body > .row > div:nth-child(odd) {
        font-weight: bolder; }
    .edit-form__body > .row:last-child {
      border-bottom: 1px solid #ddd; }

/*# sourceMappingURL=management.css.map */
